# dist/ - Committed for CDN access
# loader/ - Committed for CDN access
www/

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.DS_Store
._*
Thumbs.db
UserInterfaceState.xcuserstate
.env
